{% extends "AppBundle::layout.html.twig" %}

{% block title %}Wyniki wyszukiwania{% endblock %}

{% block body %}
    <section class="search-banner head-banner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{ include('AppBundle:common:_searchBoxFull.html.twig', {'search':search})}}
                </div>
            </div>
        </div>
    </section>
    <section class="search">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <span class="line-hr"></span>
                    <h5>Wyszukiwany objaw: <span class="red-text">{{search.search}}</span></h5>
                    <div class="select-category clearfix">
                        <ul>
                            <li class="category">Kategoria:</li>
                            {% for type in types %}
                            <li class="type-{{type.type}} selector" data-category="category-{{type.type}}">{{type.type}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if diseases %}
                {% for disease in diseases %}
                    <div class="col-xs-12">
                        <article class="disease not-extend category-{{disease.type}}">
                            <div class="row">
                                <div class="col-xs-12 col-sm-7 col-md-8">
                                    <h2 class="category">{{disease.category.name}}</h2>
                                    <h4 class="title">{{disease.name}}</h4>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-4 text-right img-wraper">
                                    <div class="disise-img" style="background-image: url({{asset(disease.picture1)}})"></div>
                                </div>
                                <div class="subtitle col-xs-12 col-sm-7 col-md-8">Objawy:</div>
                                <div class="col-xs-12 col-sm-7 col-md-8 content symptoms">
                                    <p>{{disease.symptoms | raw}}</p>
                                </div>
                                <div class="subtitle col-xs-12 col-sm-7 col-md-8 extend-content">Zalecenia:</div>
                                <div class="col-xs-12 col-sm-7 col-md-8 content extend-content">
                                    <p>{{disease.recommendation | raw}}</p>
                                </div>
                                {% if disease.comments %}
                                    <div class="col-xs-12 col-md-8 extend-content">
                                        <div class="comments"><b>Uwaga!</b><br/> Nie można uciskać gałki ocznej</div>
                                    </div>
                                {% endif %}
                                <div class="col-xs-7 col-md-5">
                                    <span class="type type-{{disease.type | default('A')}}">{{disease.type}}</span><span class="text-type text-type-{{disease.type | default('A')}}"> {{disease.type | writeType}}</span>
                                </div>
                                <div class="col-xs-5 col-md-3">
                                    <div class="button-ext">
                                        <span class="normal">Sprawdź zalecenia <i class="fa fa-chevron-down"></i></span>
                                        <span class="extend-content">Zwiń zalecenia <i class="fa fa-chevron-up"></i></span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor%}
                {% else%}
                    <div class="col-xs-12">Przykro nam, ale nic nie znaleziono. Spróbuj wybrać schorzenie z listy.</div>
                {%endif%}
            </div>
        </div>
    </section>
    <!--Advertice -->
    {{ include('AppBundle:common:_advertice.html.twig') }}
    <!--Advertice end-->
    <!--Helpfull informations -->
    {{ include('AppBundle:common:_helpfullInformations.html.twig', {'show':{'disise':1, 'exam':1, 'medicine':1, 'info':1}}) }}
    <!--Helpfull informations end-->
{% endblock %}