<div class="container helpfull-info">
    <div class="row">
        <h2>Przydatne informacje</h2>
    </div>
    <div class="row">
        {%if show.disise%}
        <div class='col-sm-6 help-box'>
            <article class="disise">
                <div class="image"></div>
                <div class="content clearfix">
                    <a href="{{path('disease')}}"><h3>Schorzenia</h3></a>
                    <p>
                        Wstępne procedury diagnostyczno-terapeutyczne schorzeń narządu wzroku,
                        które mogą być wykorzystane w codziennej praktyce lekarskiej.
                    </p>
                    <a href="{{path('disease')}}" class="read-more">Czytaj więcej</a>
                </div>

            </article>
        </div>
        {%endif%}
        {%if show.exam%}
        <div class='col-sm-6 help-box'>
            <article class="exam">
                <div class="image"></div>
                <div class="content clearfix">
                    <a href="{{path('exam')}}"><h3>Badanie narządu wzroku</h3></a>
                    <p>
                        Podstawowe techniki i procedury  badania okulistycznego pozwalające
                        na prawidłowe diagnozowanie oraz leczenie chorób narządu wzroku.
                    </p>
                    <a href="{{path('exam')}}" class="read-more">Czytaj więcej</a>
                </div>
            </article>
        </div>
        {%endif%}
        {%if show.medicine%}
        <div class='col-sm-6 help-box'>
            <article class="medicine">
                <div class="image"></div>
                <div class="content clearfix">
                    <a href="{{path('medicine')}}"><h3>Rodzaje stosowanych leków</h3></a>
                    <p>
                        Omówienie leków miejscowych najczęściej stosowanych w leczeniu zakażeń oczu.
                    </p>
                    <a href="{{path('medicine')}}" class="read-more">Czytaj więcej</a>
                </div>
            </article>
        </div>
        {%endif%}
        {%if show.info%}
        <div class='col-sm-6 help-box'>
            <article class="info">
                <div class="image"></div>
                <div class="content clearfix">
                    <a href="{{path('info')}}"><h3>Produkty</h3></a>
                    <p>
                        Skrócony opis stosowania wybranych leków oraz preparatów używanych
                        na różnego rodzaju choroby oczu.
                    </p>
                    <a href="{{path('info')}}" class="read-more">Czytaj więcej</a>
                </div>
            </article>
        </div>
        {%endif%}
    </div>
</div>
