<aside class="search-box search-result">
    <form action="{{path('search')}}" method="GET">
        <h2>Sprawdź zalecenia terapeutyczne</h2>
        <div class="form-box clearfix patient">
            <label>Pacjent</label>
            <div class="nice-radio clearfix">
                <input type="radio" id="search-box-patient-adult" name="search[patient]" class="change-option" {%if (search.patient==2)%}checked="checked"{%endif%} value="2"/>
                <label class="nice" for="search-box-patient-adult">Dorosły</label>
                <input type="radio" id="search-box-patient-child" name="search[patient]" class="change-option" {%if (search.patient==1)%}checked="checked"{%endif%} value="1"/>
                <label class="nice" for="search-box-patient-child">Dziecko</label>
            </div>
        </div>
        <div class="form-box secend symptoms-input">
            <label>Wpisz typowy objaw</label>
            <input id="symptom" type="text" name="search[search]" autocomplete="off" value="{{search.search}}"/>
            <div class="symptomsAutoComplete">
                <ul></ul>
            </div>
        </div>
        <div class="form-box diseases-list nice-select-box">
            <label class="text-center text-or">lub</label>
            <label>Wybierz schorzenie z listy</label>
            <div class="select-wraper-container">
                <div id="select-wraper" class="select-wraper" tabindex='-1'>
                    <span></span>
                    <i class="fa fa-chevron-down"></i>
                </div>
                <ul id="select-data" style="display: none;">

                </ul>
            </div>
            <select name="search[disease]" id="select-disease" style="display: none;">
                {{ render(controller('AppBundle:Search:renderOptionSearch',{'diseaseId': search.disease, 'patientId' : search.patient})) }}
            </select>
            <input id="search-disease" type="hidden" name="search[disease]" value="0"/>
        </div>
        <div class="form-box text-center">
            <input type="submit" class="submit" value="Sprawdź wytyczne" /> 
        </div>
        <input id="symptomURL" type="hidden" value="{{path('symptoms-search')}}" />
        <input id="diseaseOptionURL" type="hidden" value="{{path('disease-change')}}" />
    </form>
</aside>
