{% extends 'MadebyrogalAdminBundle::base.html.twig' %}

{% block body %}
    <h1>Advertice</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advertice.id }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img src="{{ advertice.getWebPath }}" width="300" /></td>
            </tr>
            <tr>
                <th>Alt text</th>
                <td>{{ advertice.alt }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ advertice.link }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('advertice_index') }}" class="btn btn-sm btn-primary">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('advertice_edit', { 'id': advertice.id }) }}" class="btn btn-sm btn-success">Edit</a>
        </li>
    </ul>
{% endblock %}
