{% extends "AppBundle::layout.html.twig" %}

{% block title %}Poradnia Okulistyczna - Produkty - Dicortineff{% endblock %}

{% block body %}
    <div class="medicine">
        <div id="breadcrumb">
            <div class="container">
                <ul>
                    <li><a title="" href="{{path('home')}}">Strona główna <i class="fa fa-angle-right"></i></a></li>
                    <li><a title="" href="">Produkty <i class="fa fa-angle-right"></i></a></li>
                    <li>Dicortineff</li>
                </ul>
            </div>
        </div>
        <div class="container dicortineff">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img alt="" class="img-responsive medicine-logo" src="{{asset('assets/images/lek_dicortineff_logo.png')}}" />
                    <div class="row">
                        <div class="col-md-6">
                            <span class="line-hr red"></span>
                        </div>
                    </div>
                    <img alt="" class="h1-img img-responsive" src="{{asset('assets/images/potrojne_uderzenie.png')}}" />
                </div>
                <div class="col-xs-12 col-sm-6 main-image">
                    <img alt="" class="img-responsive" src="{{asset('assets/images/lek_dicortineff.png')}}" />
                </div>
            </div>
            <div class="row about-medicine">
                <div class="col-xs-12 col-sm-6 col-md-5 medicine-info">
                    <ul>
                        <li><i>Neomycyna + Gramicydyna + Fludrokortyzon</i></li>
                        <li>Unikalne połączenie dwóch antybiotyków i steroidu o średniej sile działania.<sup>* 1</sup></li>
                        <li>Zaletą miejscowej terapii chorób oczu jest wysoki profil bezpieczeństwa, nawet przy długotrwałym stosowaniu leków.<sup>1</sup></li>
                        <li>Miejscowe stosowanie steroidów w porównaniu ze stosowaniem ogólnoustrojowym to:<sup>2</sup></li>
                        <li>- bardziej celowane działanie</li>
                        <li>- wysokie stężenie miejscowe</li>
                        <li>- mniejsza dawka substancji czynnej potrzebna do osiągnięcia efektu terapeutycznego</li>
                        <li>- mniej ogólnoustrojowych działań niepożądanych</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 dosage">
                    <h2 class="special">Wskazania w okulistyce</h2>
                    <div class="grey-line">
                        <p>Stany zapalne:</p>
                        <p>- gałki ocznej</p> 
                        <p>- błony naczyniowej</p>
                        <p>- spojówek</p>
                        <p>- brzegów powiek</p>
                    </div>
                    <h2 class="special">Dawkowanie</h2>
                    <div class="grey-line">
                        <p>1-2 krople do worka spojówkowego 2 do 5 razy na dobę</p> 
                        <p>Długość leczenia:</p>
                        <p>do 2 dni po ustąpieniu objawów, lecz nie dłużej niż 7 dni.</p>
                    </div>
                    <h2 class="special" style="font-size:19px">Lek można stosować u dzieci powyżej 2 r.ż.</h2>
                </div>
            </div>
            <div class="row more-medicine">
                <div class="col-xs-12">
                    <h2>Pozostałe leki</h2>
                    <ul class="clearfix">
                        <li>
                            <a title="" href="{{path('info')}}">
                                <div class="text">
                                    <span class="drug-name">Biodacyna Ophtalmicum 0,3%</span>
                                    <span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a title="Oflodinex" href="{{path('oflodinex')}}">
                                <div class="text">
                                    <span class="drug-name">Oflodinex</span>
                                    <span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a title="Tobrosopt-DEX" href="{{path('tobrosopt')}}">
                                <div class="text">
                                    <span class="drug-name">Tobrosopt-DEX</span>
                                    <span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a title="Primadex" href="{{path('primadex')}}">
                                <div class="text">
                                    <span class="drug-name">Primadex</span>
                                    <span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Advertice -->
    {{ include('AppBundle:common:_advertice.html.twig', { 'advertice': {'name' : 'Dicortineff', 'getWebPath' : '/assets/images/banners/Dicortineff_baner_930x200.jpg', 'alt' : 'Dicortineff'} }) }}
    <!--Advertice end-->
{% endblock %}
{% block footersil %}
    <div class="container">
        <aside class="footer-sil">
            <footer>
                <p>*dotyczy siły stereoidów</p>
                <p>
                    1. Prost ME. Kliniczna Farmakologia Okulistyczna. Elsevier Urban & Partner sp. z o.o., Wrocław 2013<br/>
                    2. McGhee CN, Dean S, Danesh-Meyer H. Locally administered ocular corticosteroids: benefits and risks. Drug Saf. 2002; 25 (1): 33-55<br/>
                </p>
                <p>
                    <b>Dicortineff (Neomycinum, Gramicidinum, Fludrocortisoni acetas)</b>
                    <br/><b>Skład i postać:</b> Krople do oczu i uszu, zawiesina. 1 ml zawiera 2 500 j.m. neomycyny w postaci neomycyny siarczanu, 25 j.m. gramicydyny, 1 mg fludrokortyzonu octanu. Substancje pomocnicze: benzalkoniowy chlorek, roztwór 0,2 mg/ml. Krople do oczu i uszu, zawiesina.
                    <br/><b>Wskazania:</b> W okulistyce: stany zapalne gałki ocznej, błony naczyniowej, spojówek i brzegów powiek. W laryngologii: stany zapalne ucha zewnętrznego i środkowego, stany zapalne ucha po zabiegach operacyjnych, stany pourazowe zewnętrznego przewodu słuchowego.
                    <br/><b>Dawkowanie i sposób podawania:</b> Dorośli, młodzież i dzieci powyżej 2 lat. W okulistyce. Podanie do oka. 1-2 krople do worka spojówkowego 2 do 5 razy na dobę. W laryngologii: Podanie do ucha. 2-4 krople do przewodu słuchowego na opatrunku 2-4 razy na dobę. Preparat może być również zakrapiany bezpośrednio do przewodu słuchowego. Pacjent powinien leżeć z uchem zwróconym do góry, po zakropieniu pozostać w pozycji leżącej przez około 15 minut. Długość leczenia: do 2 dni po ustąpieniu objawów, lecz nie dłużej niż 7 dni.
                    <br/><b>Przeciwwskazania:</b> Nadwrażliwość na którykolwiek ze składników preparatu lub inne antybiotyki aminoglikozydowe. Wirusowe, gruźlicze lub grzybicze zakażenia oka lub ucha. Choroby połączone z ubytkami nabłonka rogówki , jaskra, jeśli lek stosowany ma być do oka. Perforacja błony bębenkowej ucha, jeśli lek stosowany ma być do ucha.
                    <br/><b>Ostrzeżenia i zalecane środki ostrożności:</b> Nie podawać produktu leczniczego Dicortineff do nosa. Produktu nie należy stosować długotrwale, ponieważ może dojść do nadkażeń bakteryjnych i grzybiczych. Długotrwałe stosowanie produktu w chorobach oczu może spowodować u osób predysponowanych podwyższenie ciśnienia śródgałkowego, a nawet doprowadzić do powstania zaćmy posteroidowej. Szczególną ostrożność należy zachować podczas stosowania leku u pacjentów, u których podejrzewa się perforację błony bębenkowej, ponieważ przedostanie się leku do ucha środkowego może wywołać piekący ból, a nawet uszkodzenie nerwu słuchowego. Nadwrażliwość na miejscowo zastosowane aminoglikozydy może wystąpić u niektórych pacjentów, w tym nadwrażliwość krzyżowa na inne aminoglikozydy. Jeśli wystąpią objawy nadwrażliwości, należy zaprzestać używania produktu. Pacjenci stosujący produkty do oczu zawierające siarczan neomycyny powinni skonsultować się z lekarzem, jeśli nasila się lub utrzymuje ból oka, zaczerwienienie, obrzęk lub podrażnienie. Poważne działania niepożądane, w tym neurotoksyczność, ototoksyczność i nefrotoksyczność wystąpiły u pacjentów otrzymujących neomycynę systemowo lub stosowaną miejscowo na otwarte rany lub uszkodzoną skórę. Mimo, że działania te nie zostały zgłoszone w następstwie stosowania miejscowego do oka, należy zachować ostrożność podczas jednoczesnego stosowania ogólnoustrojowego antybiotyku aminoglikozydowego. Długotrwałe podawanie sterydów do oczu może spowodować nadciśnienie oczne i/lub jaskrę, z uszkodzeniem nerwu wzrokowego, zmniejszeniem ostrości widzenia i ubytkami w polu widzenia oraz tylną zaćmę podtorebkową. U&nbsp;pacjentów leczonych długotrwale kortykosteroidami podawanymi do oka, powinno być sprawdzane regularnie i często ciśnienie wewnątrzgałkowe. W przypadku braku poprawy klinicznej, leczenie za pomocną produktu leczniczego złożonego z kortykosteroidu i antybiotyku, nie powinno trwać dłużej niż 7 dni. W chorobach powodujących zmniejszenie grubości rogówki i twardówki, w wyniku miejscowego zastosowania kortykosteroidów, występowały perforacje. Kortykosteroidy mogą zmniejszać odporność na zakażenia, sprzyjać powstawaniu zakażeń bakteryjnych, wirusowych lub grzybiczych i maskować objawy kliniczne zakażenia, maskować brak skuteczności antybiotyku lub zmniejszać reakcje nadwrażliwości na produkt leczniczy Dicortineff. Noszenie soczewek kontaktowych nie jest zalecane podczas leczenia zakażeń oka, dlatego też należy poinformować pacjentów, aby nie nosili soczewek kontaktowych w trakcie leczenia produktem leczniczym Dicortineff. Ze względu na zawartość w produkcie benzalkoniowego chlorku, osoby noszące soczewki kontaktowe nie powinny zakładać ich w okresie stosowania produktu. Należy usunąć soczewki kontaktowe przed zakropleniem i odczekać co najmniej 15 minut przed ponownym założeniem. Benzalkoniowy chlorek może powodować podrażnienie oczu i zmieniać zabarwienie soczewek kontaktowych.
                    <br/><b>Działania niepożądane:</b> Produkt jest zazwyczaj dobrze tolerowany i zwykle nie wywołuje istotnych działań niepożądanych. Zaburzenia układu immunologicznego: Częstość nieznana (częstość nie może być określona na podstawie dostępnych danych): reakcje nadwrażliwości, zazwyczaj typu opóźnionego, prowadzące do podrażnienia, pieczenia, kłucia, swędzenia i zapalenia skóry. Zaburzenia oka: Rzadko (≥1/10 000 do <1/1000): niespecyficzne zapalenie spojówek lub reakcje uczuleniowe. Częstość nieznana (częstość nie może być określona na podstawie dostępnych danych): świąd lub pieczenie spojówek. Ze względu na zawartość sterydu w&nbsp;produkcie leczniczym Dicortineff, w chorobach powodujących rozrzedzenie rogówki lub twardówki, istnieje większe ryzyko perforacji, zwłaszcza po długotrwałym leczeniu (patrz punkt Specjalne ostrzeżenia i środki ostrożności dotyczące stosowania). Miejscowo stosowane sterydy do oka mogą spowodować wzrost ciśnienia śródgałkowego z uszkodzeniem nerwu wzrokowego, zmniejszenie ostrości widzenia i ubytki w polu widzenia. Intensywne lub długotrwałe miejscowe podawanie kortykosteroidów może prowadzić do powstania tylnej zaćmy podtorebkowej. Po dopuszczeniu produktu leczniczego do obrotu istotne jest zgłaszanie podejrzewanych działań niepożądanych. Umożliwia to nieprzerwane monitorowanie stosunku korzyści do ryzyka stosowania produktu leczniczego. Osoby należące do fachowego personelu medycznego powinny zgłaszać wszelkie podejrzewane działania niepożądane za pośrednictwem Departamentu Monitorowania Niepożądanych Działań Produktów
                    Leczniczych Urzędu Rejestracji Produktów Leczniczych, Wyrobów Medycznych i Produktów Biobójczych, Al. Jerozolimskie 181C, 02-222 Warszawa, Tel.: + 48 22 49 21 301, Faks: + 48 22 49 21 309, e-mail: ndl@urpl.gov.pl. Działania niepożądane można zgłaszać również podmiotowi odpowiedzialnemu.
                    <br/><b>Podmiot odpowiedzialny:</b> Polfa Warszawa S.A. Pozwolenie na dopuszczenie do obrotu nr 881/S, R/2432 wydane przez MZ. Dodatkowych informacji o leku udziela: Polpharma Biuro Handlowe Sp. z o.o., ul. Bobrowiecka 6, 00-728 Warszawa, tel. +48 22 364 61 00; fax. +48 22 364 61 02. www.polpharma.pl. Lek wydawany na podstawie recepty. ChPL: 2015.12.02
                </p>
            </footer>
        </aside>
    </div>
{% endblock %}