{% extends "AppBundle::layout.html.twig" %}

{% block title %}Informacje o lekach{% endblock %}

{% block body %}
    <div class="medicine">
		<div id="breadcrumb">
			<div class="container">
				<ul>
					<li><a title="" href="{{path('home')}}">Strona główna <i class="fa fa-angle-right"></i></a></li>
					<li><a title="" href="">Informacje o lekach <i class="fa fa-angle-right"></i></a></li>
					<li>Biodacyna</li>
				</ul>
			</div>
		</div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img alt="" class="img-responsive medicine-logo" src="{{asset('assets/images/lek_biodacyna_logo.png')}}" />
                    <div class="row">
			            <div class="col-md-6">
			                <span class="line-hr red"></span>
			            </div>
			        </div>
			        <h1>Mała kropla<br> ... wielka zmiana</h1>
			        <!--<img alt="" class="img-responsive" src="{{asset('assets/images/wielka_zmiana.png')}}" />-->
                </div>
                <div class="col-xs-12 col-sm-6 main-image">
                	<img alt="" class="img-responsive" src="{{asset('assets/images/lek_biodacyna.png')}}" />
                </div>
            </div>
            <div class="row about-medicine">
            	<div class="col-xs-12 col-sm-6 col-md-5">
            		<h2>Informacje o leku</h2>
            		<ul>
            			<li><span>Największy zakres działania przeciwbakteryjnego</span> w grupie aminoglikozydów<sup>1</sup></li>
            			<li><span>Najmniejsza antybiotykooporność</span> wśród aminoglikozydów<sup>2</sup></li>
            			<li><span>Efekt poantybiotykowy</span> – (PAE) hamuje wzrost bakterii w ognisku zakażenia, nawet jeżeli stężenie spada poniżej wartości MIC2</li>
            		</ul>
            	</div>
            	<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 dosage">
            		<h2 class="special">Wskazania</h2>
                    <div class="grey-line">
            	       <p>Leczenie ostrych i przewlekłych bakteryjnych zakażeń oka: zapalenie spojówki, rogówki, zakażeńapalenie brzegów powiek i woreczka łzowego, jęczmień.</p>
                    </div>
            		<h2>Dawkowanie</h2>
                    <div>
                		<p>1-2 krople 3-4 razy dziennie.</p>
                    </div>
            	</div>
            </div>
            <div class="row more-medicine">
            	<div class="col-xs-12">
            		<h2>Pozostałe leki</h2>
            		<ul class="clearfix">
                        <li>
                            <a title="Dicortineff" href="{{path('dicortineff')}}">
                                <div class="text">
                                    <span class="drug-name">Dicortineff</span>
                                    <span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a title="Oflodinex" href="{{path('oflodinex')}}">
                                <div class="text">
                                    <span class="drug-name">Oflodinex</span>
                                    <span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
                                </div>
                            </a>
                        </li>
            			<li>
            				<a title="Tobrosopt-DEX" href="{{path('tobrosopt')}}">
	            				<div class="text">
		            				<span class="drug-name">Tobrosopt-DEX</span>
		            				<span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
	            				</div>
	            			</a>
            			</li>
            		</ul>
            	</div>
            </div>
        </div>
    </div>
    <!--Advertice -->
    {{ include('AppBundle:common:_advertice.html.twig') }}
    <!--Advertice end-->
{% endblock %}
