{% extends "AppBundle::layout.html.twig" %}

{% block title %}Produkty - Biodacyna{% endblock %}

{% block body %}
    <div class="medicine">
        <div id="breadcrumb">
            <div class="container">
                <ul>
                    <li><a title="" href="{{path('home')}}">Strona główna <i class="fa fa-angle-right"></i></a></li>
                    <li><a title="" href="">Produkty <i class="fa fa-angle-right"></i></a></li>
                    <li>Biodacyna</li>
                </ul>
            </div>
        </div>
        <div class="container biodacyna">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img alt="" class="img-responsive medicine-logo" src="{{asset('assets/images/lek_biodacyna_logo.png')}}" />
                    <div class="row">
                        <div class="col-md-6">
                            <span class="line-hr red"></span>
                        </div>
                    </div>
                    <img alt="" class="h1-img img-responsive" src="{{asset('assets/images/wielka_zmiana.png')}}" />
                </div>
                <div class="col-xs-12 col-sm-6 main-image">
                    <img alt="" class="img-responsive" src="{{asset('assets/images/lek_biodacyna.png')}}" />
                </div>
            </div>
            <div class="row about-medicine">
                <div class="col-xs-12 col-sm-6 col-md-5 medicine-info">
                    <ul>
                        <li><span>Największy zakres działania przeciwbakteryjnego</span> w grupie aminoglikozydów<sup>1</sup></li>
                        <li><span>Najmniejsza antybiotykooporność</span> wśród aminoglikozydów<sup>2</sup></li>
                        <li><span>Efekt poantybiotykowy</span> – (PAE) hamuje wzrost bakterii w ognisku zakażenia, nawet jeżeli stężenie spada poniżej wartości MIC<sup>2</sup></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 dosage">
                    <h2 class="special">Wskazania</h2>
                    <div class="grey-line">
                        <p>Leczenie ostrych i przewlekłych bakteryjnych zakażeń oka: zapalenie spojówki, rogówki, zakażeńapalenie brzegów powiek i woreczka łzowego, jęczmień.</p>
                    </div>
                    <h2 class="special">Dawkowanie</h2>
                    <div class="grey-line">
                        <p>1-2 krople 3-4 razy dziennie.</p>
                    </div>
                    <h2 class="special">Lek stosuje się u dorosłych i dzieci</h2>
                </div>
            </div>
            <div class="row more-medicine">
                <div class="col-xs-12">
                    <h2>Pozostałe leki</h2>
                    <ul class="clearfix">
                        <li>
                            <a title="Dicortineff" href="{{path('dicortineff')}}">
                                <div class="text">
                                    <span class="drug-name">Dicortineff</span>
                                    <span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a title="Oflodinex" href="{{path('oflodinex')}}">
                                <div class="text">
                                    <span class="drug-name">Oflodinex</span>
                                    <span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a title="Tobrosopt-DEX" href="{{path('tobrosopt')}}">
                                <div class="text">
                                    <span class="drug-name">Tobrosopt-DEX</span>
                                    <span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Advertice -->
    {{ render(controller('AppBundle:Common:advertice')) }}
    <!--Advertice end-->
{% endblock %}
{% block footersil %}
    <div class="container">
        <aside class="footer-sil">
            <footer>
                <p>
                    1. Charakterystyka produktu leczniczego Biodacyna Ophthalmicum 0,3%<br/>
                    2. Bartoszewicz M. Zastosowanie terapeutyczne antybiotyków aminoglikozydowych z punktu widzenia mikrobiologa. Świat Medycyny i Farmacji 2013; 9 (148)
                </p>
                <p>
                    <b>Biodacyna Ophthalmicum 0,3% (Amikacinum)</b><br/>
                    <b>Skład i postać:</b> 1 ml roztworu zawiera 3 mg amikacyny w postaci amikacyny siarczanu. Butelka zawiera 15 mg amikacyny w 5 ml roztworu. Substancja pomocnicza o znanym działaniu: chlorek benzalkoniowy.
                    <br/><b>Wskazania:</b> Krople do oczu Biodacyna Ophthalmicum 0,3% stosuje się w leczeniu ostrych i przewlekłych bakteryjnych zakażeń oka: w zapaleniu spojówki, rogówki, w zapaleniu brzegów powiek i woreczka łzowego, w leczeniu jęczmienia. Profilaktycznie podaje się przed zabiegami na gałce ocznej.
                    <br/><b>Dawkowanie i sposób podawania:</b> Dorośli i dzieci: 1-2 krople 3 lub 4 razy na dobę do worka spojówkowego przez 7 do 10 dni.
                    <br/><b>Przeciwwskazania:</b> Nadwrażliwość na amikacynę lub inne antybiotyki aminoglikozydowe, lub na którąkolwiek substancję pomocniczą preparatu, w szczególności na chlorek benzalkoniowy.
                    <br/><b>Ostrzeżenia i zalecane środki ostrożności:</b> Produktu nie należy stosować dłużej niż to konieczne, ponieważ zbyt długie stosowanie antybiotyku może prowadzić do rozwoju szczepów opornych i wtórnego nadkażenia bakteryjnego lub grzybiczego. Produkt nie jest przeznaczony do wstrzyknięć podspojówkowych, okołogałkowych i pozagałkowych. Stosowanie kropli można rozpocząć przed uzyskaniem wyników antybiogramu. W przypadku zakażenia bakteriami Pseudomonas aeruginosa należy zastosować amikacynę jednocześnie miejscowo i parenteralnie, gdyż zakażenie to może wywołać ciężkie uszkodzenie gałki ocznej, a nawet utratę wzroku. Podczas stosowania produktu może wystąpić reakcja nadwrażliwości objawiająca się świądem powiek, obrzękiem lub długo utrzymującym się stanem zapalnym. W przypadku stwierdzenia ww. objawów należy natychmiast przerwać stosowanie produktu i skontaktować się z lekarzem. Antybiotyki aminoglikozydowe mogą powodować nieodwracalną, częściową lub całkowitą głuchotę, kiedy podawane są ogólnoustrojowo lub kiedy są stosowane miejscowo na otwarte rany lub uszkodzoną skórę. Ten efekt jest zależny od dawki i zwiększa się w przypadku niewydolności nerek lub wątroby. Podczas równoczesnego stosowania kropli do oczu Biodacyna Ophthalmicum 0,3% z innymi lekami do oczu należy zachować pomiędzy ich podaniami co najmniej 15 minut przerwy. Należy zachować ostrożność u pacjentów z niewydolnością nerek. Amikacyna stosowana parenteralnie może wykazywać działanie nefrotoksyczne. Produkt leczniczy Biodacyna Ophthalmicum 0,3% zawiera chlorek benzalkoniowy, środek konserwujący powszechnie stosowany w preparatach okulistycznych, który może jednak powodować punktowate zapalenie rogówki i/lub toksyczne wrzodziejące zapalenie rogówki, lub podrażnienie oka i zmieniać kolor soczewek kontaktowych. Ze względu na fakt, że chlorek benzalkoniowy może być absorbowany przez soczewki kontaktowe, przed podaniem produktu Biodacyna Ophthalmicum 0,3% należy je zdjąć. Soczewki można nałożyć ponownie po upływie 15 minut od podania kropli. W przypadku zakażenia oka noszenie soczewek kontaktowych nie jest zalecane.
                    <br/><b>Działania niepożądane:</b> Działania niepożądane uporządkowano według klasyfikacji układów i narządów; do określenia częstości występowania zastosowano następującą terminologię: bardzo często: (≥1/10), często: (≥1/100 do <1/10), niezbyt często: (≥1/1000 do <1/100), rzadko: (≥1/10 000 do <1/1000), bardzo rzadko: (<1/10 000), częstość nieznana: (nie może być określona na podstawie dostępnych danych). Zaburzenia oka: Bardzo rzadko: może wystąpić niespecyficzne zapalenie spojówek, pieczenie, uczucie swędzenia, podrażnienie oraz reakcje nadwrażliwości objawiające się zaczerwienieniem, świądem, obrzękiem powiek. U niektórych pacjentów z poważnym uszkodzeniem rogówki zgłaszano bardzo rzadkie przypadki zwapnienia rogówki związane ze stosowaniem kropli do oczu z zawartością fosforanów. Po dopuszczeniu produktu leczniczego do obrotu istotne jest zgłaszanie podejrzewanych działań niepożądanych. Umożliwia to nieprzerwane monitorowanie stosunku korzyści do ryzyka stosowania produktu leczniczego. Osoby należące do fachowego personelu medycznego powinny zgłaszać wszelkie podejrzewane działania niepożądane za pośrednictwem Departamentu Monitorowania Niepożądanych Działań Produktów Leczniczych Urzędu Rejestracji Produktów Leczniczych, Wyrobów Medycznych i Produktów Biobójczych Al. Jerozolimskie 181C, 02-222 Warszawa, Tel.: + 48 22 49 21 301, Faks: + 48 22 49 21 309, e-mail: ndl@urpl.gov.pl.
                    <br/><b>Podmiot odpowiedzialny:</b> Polfa Warszawa S.A. Pozwolenie na dopuszczenie do obrotu nr R/1293 wydane przez MZ. Dodatkowych informacji o leku udziela: Polpharma Biuro Handlowe Sp. z o.o., ul. Bobrowiecka 6, 00-728 Warszawa, tel. +48 22 364 61 00; fax. +48 22 364 61 02. www.polpharma.pl. Lek wydawany na podstawie recepty. ChPL: 2015.01.15
                </p>    
            </footer>
        </aside>
    </div>
{% endblock %}
