{% extends "AppBundle::layout.html.twig" %}

{% block title %}AppBundle:Medicine:index{% endblock %}

{% block body %}
	<div class="medicine">
		<div id="breadcrumb">
			<div class="container">
				<ul>
					<li><a title="" href="{{path('home')}}">Strona główna <i class="fa fa-angle-right"></i></a></li>
					<li><a title="" href="">Informacje o lekach <i class="fa fa-angle-right"></i></a></li>
					<li>Oflodinex</li>
				</ul>
			</div>
		</div>
        <div class="container oflodinex">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img alt="" class="img-responsive medicine-logo" src="{{asset('assets/images/lek_oflodinex_logo.png')}}" />
                    <div class="row">
			            <div class="col-md-6">
			                <span class="line-hr red"></span>
			            </div>
			        </div>
			        <img alt="" class="h1-img img-responsive" src="{{asset('assets/images/czerwone_oko.png')}}" />
                </div>
                <div class="col-xs-12 col-sm-6 main-image">
                	<img alt="" class="img-responsive" src="{{asset('assets/images/lek_oflodinex.png')}}" />
                </div>
            </div>
            <div class="row about-medicine">
            	<div class="col-xs-12 col-sm-6 col-md-5">
            		<h2>Informacje o leku</h2>
            		<ul>
            			<li>Ofloksacyna lepiej penetruje do rogówki i komory przedniej w porównaniu z innymi fluorochinolonami II generacji1</li>
            		</ul>
            	</div>
            	<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 dosage">
            		<h2 class="special">Wskazania</h2>
            		<div class="grey-line">
                        <p>Miejscowe leczenie powierzchownych zakażeń oczu wywołanych przez drobnoustroje wrażliwe na ofloksacynę:</p>
                        <p>- bakteryjne zapalenie spojówek</p> 
                        <p>- bakteryjne zapalenie rogówki</p>
                    </div>
            		<h2 class="special">Dawkowanie</h2>
            		<div class="grey-line">
                        <p>1 kropla co 2-4 godziny przez 2 dni, następnie 4 razy n a dobę</p>
                    </div>
                    <h2>Lek stosuje się u dorosłych i dzieci</h2>
            	</div>
            </div>
            <div class="row more-medicine">
            	<div class="col-xs-12">
            		<h2>Pozostałe leki</h2>
            		<ul class="clearfix">
            			<li>
                            <a title="" href="{{path('info')}}">
                                <div class="text">
                                    <span class="drug-name">Biodacyna</span>
                                    <span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a title="Dicortineff" href="{{path('dicortineff')}}">
                                <div class="text">
                                    <span class="drug-name">Dicortineff</span>
                                    <span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a title="Tobrosopt-DEX" href="{{path('tobrosopt')}}">
                                <div class="text">
                                    <span class="drug-name">Tobrosopt-DEX</span>
                                    <span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
                                </div>
                            </a>
                        </li>
            		</ul>
            	</div>
            </div>
        </div>
    </div>
    <!--Advertice -->
    {{ include('AppBundle:common:_advertice.html.twig') }}
    <!--Advertice end-->
{% endblock %}
