{% extends "AppBundle::layout.html.twig" %}

{% block title %}AppBundle:Medicine:index{% endblock %}

{% block body %}
	<div class="medicine">
		<div id="breadcrumb">
			<div class="container">
				<ul>
					<li><a title="" href="{{path('home')}}">Strona główna <i class="fa fa-angle-right"></i></a></li>
					<li><a title="" href="">Informacje o lekach <i class="fa fa-angle-right"></i></a></li>
					<li>Tobrosopt</li>
				</ul>
			</div>
		</div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img alt="" class="img-responsive medicine-logo" src="{{asset('assets/images/lek_tobrosopt_logo.png')}}" />
                    <div class="row">
			            <div class="col-md-6">
			                <span class="line-hr red"></span>
			            </div>
			        </div>
			        <h1>potrójne uderzenie <br>w zapalenie</h1>
			        <!--<img alt="" class="img-responsive" src="{{asset('assets/images/wielka_zmiana.png')}}" />-->
                </div>
                <div class="col-xs-12 col-sm-6 main-image">
                	<img alt="" class="img-responsive" src="{{asset('assets/images/lek_tobrosopt.png')}}" />
                </div>
            </div>
            <div class="row about-medicine">
            	<div class="col-xs-12 col-sm-6 col-md-5">
            		<h2>Informacje o leku</h2>
            		<ul>
            			<li><span>Skład</span>
                            tobramycyna + deksametazon (3mg+1mg)/ml
                        </li>
            			<li>Tobramycyna to antybiotyk aminoglikozydowy o szybkim i silnym  działaniu bakteriobójczym zarówno na bakterie Gram (+), jak i Gram (-). <sup>1</sup></li>
            			<li>Deksametazon to jeden z najsilniej działających steroidów. <sup>2</sup></li>
            		</ul>
            	</div>
            	<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 dosage">
            		<h2 class="special">Wskazania</h2>
            		<div class="grey-line">
                        <p>Zapobieganie i leczenie zapalenia</p>
                        <p>Zapobieganie zakażeniu po operacyjnym usunięciu zaćmy</p> 
                    </div>
            		<h2>Postać</h2>
            		<div>
                        <p>krople do oczu, zawiesina</p> 
                        <p>Badania wykazały, że preparat łączony 0,3% tobramycyna + 0,1% deksametazon jest skuteczny w leczeniu:</p>
                        <p>- infekcji bakteryjnych powierzchni oka<sup>3</sup></p>
                        <p>- zapalenia wnętrza gałki ocznej u pacjentów po operacji zaćmy<sup>4</sup></p>
                    </div>
            	</div>
            </div>
            <div class="row more-medicine">
            	<div class="col-xs-12">
            		<h2>Pozostałe leki</h2>
            		<ul class="clearfix">
            			<li>
            				<a title="" href="{{path('biodacyna')}}">
	            				<img class="img-responsive" alt="Primadex" src="{{asset('assets/images/primadex.png')}}"/>
	            				<div class="text">
		            				<span class="drug-name">Primadex</span>
		            				<span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
	            				</div>
	            			</a>
            			</li>
            			<li>
            				<a title="Tobrosopt-DEX" href="{{path('dicortineff')}}">
	            				<img class="img-responsive" alt="Tobrosopt-DEX" src="{{asset('assets/images/tobrosopt.png')}}"/>
	            				<div class="text">
		            				<span class="drug-name">Tobrosopt-DEX</span>
		            				<span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
	            				</div>
	            			</a>
            			</li>
            			<li>
            				<a title="Oflodinex" href="{{path('oflodinex')}}">
	            				<img class="img-responsive" alt="Oflodinex" src="{{asset('assets/images/oflodinex.png')}}"/>
	            				<div class="text">
		            				<span class="drug-name">Oflodinex</span>
		            				<span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
	            				</div>
	            			</a>
            			</li>
            			<li>
            				<a title="Dexamethason" href="{{path('tobrosopt')}}">
	            				<img class="img-responsive" alt="Dexamethason" src="{{asset('assets/images/dexamethason.png')}}"/>
	            				<div class="text">
		            				<span class="drug-name">Dexamethason</span>
		            				<span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
		            			</div>
	            			</a>
            			</li>
            		</ul>
            	</div>
            </div>
        </div>
    </div>
    <!--Advertice -->
    {{ include('AppBundle:common:_advertice.html.twig') }}
    <!--Advertice end-->
{% endblock %}
