{% extends "AppBundle::layout.html.twig" %}

{% block title %}AppBundle:Medicine:index{% endblock %}

{% block body %}
	<div class="medicine">
		<div id="breadcrumb">
			<div class="container">
				<ul>
					<li><a title="" href="">Strona główna <i class="fa fa-angle-right"></i></a></li>
					<li><a title="" href="">Informacje o lekach <i class="fa fa-angle-right"></i></a></li>
					<li>Dicortineff</li>
				</ul>
			</div>
		</div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img alt="" class="img-responsive medicine-logo" src="{{asset('assets/images/lek_dicortineff_logo.png')}}" />
                    <div class="row">
			            <div class="col-md-6">
			                <span class="line-hr red"></span>
			            </div>
			        </div>
			        <h1>potrójne uderzenie <br>w zapalenie</h1>
			        <!--<img alt="" class="img-responsive" src="{{asset('assets/images/wielka_zmiana.png')}}" />-->
                </div>
                <div class="col-xs-12 col-sm-6 main-image">
                	<img alt="" class="img-responsive" src="{{asset('assets/images/lek_dicortineff.png')}}" />
                </div>
            </div>
            <div class="row about-medicine">
            	<div class="col-xs-12 col-sm-6 col-md-5">
            		<h2>Informacje o leku</h2>
            		<ul>
            			<li><span>Neomycyna + Gramicydyna + Fludrokortyzon</span></li>
            			<li>Unikalne połączenie dwóch antybiotyków i steroidu o średniej sile działania.<sup>* 1</sup></li>
            			<li>Typowe leczenie niepowikłanego zapalenia ucha zewnętrznego polega na miejscowym podawaniu antybiotyków i leków przeciwzapalnych<sup>2</sup> (np. Dicortineff).</li>
                        <li>Zaletą terapii miejscowej jest nawet 1000 razy wyższe stężenie leku w miejscu infekcji w porównaniu z leczeniem doustnym.<sup>3</sup></li>
                        <li>Długość leczenia: do 2 dni po ustąpieniu objawów, lecz nie dłużej niż 7 dni.</li>
                        <li>Dicortineff jest lekiem rekomendowanym w terapii ostrego, łagodnego i niepowikłanego zapalenia ucha zewnętrznego.<sup>4</sup></li>
            		</ul>
            	</div>
            	<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 dosage">
            		<h2 class="special">Wskazania w okulistyce</h2>
            		<div class="grey-line">
                        <p>Stany zapalne:</p>
                        <p>- gałki ocznej</p> 
                        <p>- błony naczyniowej</p>
                        <p>- spojówek</p>
                        <p>- brzegów powiek</p>
                    </div>
            		<h2 class="special">Dawkowanie</h2>
            		<div class="grey-line">
                        <p>1-2 krople do worka spojówkowego 2 do 5 razy na dobę</p> 
                        <p>Długość leczenia:</p>
                        <p>do 2 dni po us  tąpieniu objawów, lecz nie dłużej niż 7 dni.</p>
                    </div>
                    <h2 class="special">Wskazania w otolaryngologii</h2>
                    <div class="grey-line">
                        <p>Stany zapalne ucha zewnętrznego i środkowego</p>
                        <p>Stany zapalne ucha po zabiegach operacyjnych</p>
                        <p>Stany pourazowe zewnętrznego przewodu słuchowego</p>
                    </div>
                    <h2>Dawkowanie</h2>
                    <div>
                        <p>2-4 krople do przewodu słuchowego na opatrunku 2-4 razy na dobę.</p>
                        <p>Preparat może być również zakraplany bezpośrednio do przewodu słuchowego. Pacjent powinien leżeć z uchem zwróconym do góry, po zakropleniu pozostać w pozycji leżącej przez około 15 minut.</p>
                        <p>Długość leczenia:</p>
                        <p>do 2 dni po ustąpieniu objawów, lecz nie dłużej niż 7 dni.</p>
                    </div>
            	</div>
            </div>
            <div class="row more-medicine">
            	<div class="col-xs-12">
            		<h2>Pozostałe leki</h2>
            		<ul class="clearfix">
            			<li>
            				<a title="" href="{{path('biodacyna')}}">
	            				<img class="img-responsive" alt="Primadex" src="{{asset('assets/images/primadex.png')}}"/>
	            				<div class="text">
		            				<span class="drug-name">Primadex</span>
		            				<span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
	            				</div>
	            			</a>
            			</li>
            			<li>
            				<a title="Tobrosopt-DEX" href="{{path('dicortineff')}}">
	            				<img class="img-responsive" alt="Tobrosopt-DEX" src="{{asset('assets/images/tobrosopt.png')}}"/>
	            				<div class="text">
		            				<span class="drug-name">Tobrosopt-DEX</span>
		            				<span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
	            				</div>
	            			</a>
            			</li>
            			<li>
            				<a title="Oflodinex" href="{{path('oflodinex')}}">
	            				<img class="img-responsive" alt="Oflodinex" src="{{asset('assets/images/oflodinex.png')}}"/>
	            				<div class="text">
		            				<span class="drug-name">Oflodinex</span>
		            				<span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
	            				</div>
	            			</a>
            			</li>
            			<li>
            				<a title="Dexamethason" href="">
	            				<img class="img-responsive" alt="Dexamethason" src="{{asset('assets/images/dexamethason.png')}}"/>
	            				<div class="text">
		            				<span class="drug-name">Dexamethason</span>
		            				<span class="see-more">Sprawdź <i class="fa fa-angle-right"></i></span>
		            			</div>
	            			</a>
            			</li>
            		</ul>
            	</div>
            </div>
        </div>
    </div>
    <!--Advertice -->
    {{ include('AppBundle:common:_advertice.html.twig') }}
    <!--Advertice end-->
{% endblock %}
