{% extends "AppBundle::layout.html.twig" %}

{% block title %}AppBundle:Medicine:index{% endblock %}

{% block body %}
	<div class="row medicine">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <img alt="" class="img-responsive" src="{{asset('assets/images/lek_biodacyna_logo.png')}}" />
                    <div class="row">
			            <div class="col-md-6">
			                <span class="line-hr red"></span>
			            </div>
			        </div>
			        <img alt="" class="img-responsive" src="{{asset('assets/images/wielka_zmiana.png')}}" />
                </div>
                <div class="col-xs-12">
                	<img alt="" class="img-responsive" src="{{asset('assets/images/lek_biodacyna.png')}}" />
                </div>
            </div>
            <div class="row">
            	<div class="col-xs-12">
            		<h2>Informacje o leku</h2>
            		<ul>
            			<li><span>Największy zakres działania przeciwbakteryjnego</span> w grupie aminoglikozydów1</li>
            			<li><span>Najmniejsza antybiotykooporność</span> wśród aminoglikozydów2</li>
            			<li><span>Efekt poantybiotykowy</span> – (PAE) hamuje wzrost bakterii w ognisku zakażenia, nawet jeżeli stężenie spada poniżej wartości MIC2</li>
            		</ul>
            	</div>
            	<div class="col-xs-12">
            		<h2>Wskazania</h2>
            	</div>
            </div>
            <div class="row">
            	<div class="col-xs-12">
            		<h2>Pozostałe leki</h2>
            		<ul class="more-medicine clearfix">
            			<li>
            				<a title="" href="">
	            				<img class="img-responsive" alt="Primadex" src="{{asset('assets/images/primadex.png')}}"/>
	            				<div class="text">
		            				<span class="drug-name">Primadex</span>
		            				<span class="see-more">Sprawdź &gt;</span>
	            				</div>
	            			</a>
            			</li>
            			<li>
            				<a title="Tobrosopt-DEX" href="">
	            				<img class="img-responsive" alt="Tobrosopt-DEX" src="{{asset('assets/images/tobrosopt.png')}}"/>
	            				<div class="text">
		            				<span class="drug-name">Tobrosopt-DEX</span>
		            				<span class="see-more">Sprawdź &gt;</span>
	            				</div>
	            			</a>
            			</li>
            			<li>
            				<a title="Oflodinex" href="">
	            				<img class="img-responsive" alt="Oflodinex" src="{{asset('assets/images/oflodinex.png')}}"/>
	            				<div class="text">
		            				<span class="drug-name">Oflodinex</span>
		            				<span class="see-more">Sprawdź &gt;</span>
	            				</div>
	            			</a>
            			</li>
            			<li>
            				<a title="Dexamethason" href="">
	            				<img class="img-responsive" alt="Dexamethason" src="{{asset('assets/images/dexamethason.png')}}"/>
	            				<div class="text">
		            				<span class="drug-name">Dexamethason</span>
		            				<span class="see-more">Sprawdź &gt;</span>
		            			</div>
	            			</a>
            			</li>
            		</ul>
            	</div>
            </div>
        </div>
    </div>
    <!--Advertice -->
    {{ include('AppBundle:common:_advertice.html.twig') }}
    <!--Advertice end-->
{% endblock %}
