<footer>
    <div class="container-fluid bar-links">
        <div class="container links">
            {{ render(controller('AppBundle:Disease:generateFooterDiseases')) }}
        </div>
    </div>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{{path('disease')}}">Schorzenia</a></li>
                <li><a href="{{path('exam')}}">Badanie narządów wzroku</a></li>
{#                <li><a href="{{path('medicine')}}">Rodzaje stosowanych leków</a></li>#}
                <li><a href="{{path('info')}}">Informacje o lekach</a></li>
            </ul>
        </nav>
        <ul class="ext-menu">
            <li class="polfarma-logo"></li>
            <li><a href="http://www.polpharma.pl/firma/kim-jestesmy/" target="_blank">O firmie</a></li>
            <li><a href="http://www.polpharma.pl/pl/odpowiedzialnosc-spoleczna/" target="_blank">Odpowiedzialność społeczna</a></li>
            <li><a href="http://www.polpharma.pl/zglos-dzialania-niepozadane/" target="_blank">Zgłoś działania nieporządane</a></li>
            <li><a href="http://www.polpharma.pl/firma/kontakt/" target="_blank">Kontakt</a></li>
        </ul>
        <p class="copywrite">© POLPHARMA Biuro Handlowe Spółka z o.o. All rights reserved</p>
    </div>
</footer>