<header class="container">
    <div class="row">
        <div class="col-md-4 logo">
            <a href="{{path('home')}}"><img id="logo" src="{{asset('assets/images/logo.png')}}" class="img-responsive" alt="Logo - Okulistyczny przewodnik"/></a>
        </div>
        <div class="col-md-8">
            <nav>
                <ul>
                    <li {% if app.request.get('_route') == 'disease' %}class="active"{% endif %}><a href="{{path('disease')}}">Schorzenia</a></li>
                    <li {% if app.request.get('_route') == 'exam' %}class="active"{% endif %}><a href="{{path('exam')}}">Badania narządów wzroku</a></li>
                    <li {% if app.request.get('_route') == 'medicine' %}class="active"{% endif %}><a href="{{path('medicine')}}">Rodzaje stosowanych leków</a></li>
                    <li {% if app.request.get('_route') == 'info' %}class="active"{% endif %}><a href="{{path('info')}}">Informacje o lekach</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>