{% extends "AppBundle::layout.html.twig" %}

{% block title %}AppBundle:Disease:index{% endblock %}

{% block body %}
    <div class="disease">
        <div id="breadcrumb">
            <div class="container">
                <ul>
                    <li><a title="" href="{{path('home')}}">Strona główna <i class="fa fa-angle-right"></i></a></li>
                    <li>Schorzenia</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Wybierz pacjenta</h1>
                    <ul class="disease-choice clearfix">
                        <li class="adult {%if (patientID == 2)%}active{%endif%}"><a title="" href="{{path('disease', {'patient': 'dorosly'})}}">Dorosły</a></li>
                        <li class="child {%if (patientID == 1)%}active{%endif%}"><a title="" href="{{path('disease', {'patient': 'dziecko'})}}">Dziecko</a></li>
                    </ul>
                    <ul class="disease-list clearfix">
                        {% for category in diseaseCategories %}
                            <li>
                                <span class="name">{{category.name}}</span>
                                <div class="disease-content">
                                    <ul class="menu-disease no-widows">
                                        {% for disease in category.diseases %}
                                            <li {% if loop.first %}class="active" {% endif %} data-disease="disease-{{disease.id}}">{{disease.name}}</li>
                                            {% endfor %}
                                    </ul>
                                    {% for disease in category.diseases %}
                                        <div class="more-disease not-extend disease-{{disease.id}} {% if loop.first %}active{% endif %}">
                                            <div class="mode type-{{disease.type | default('A')}}"><span>{{disease.type}}</span>{{disease.type | writeType}}</div>
                                            <div class="picture">
                                                {% if disease.picture1 %}
                                                    <img class="img-responsive" alt="" src="{{asset(disease.picture1)}}"/>
                                                    {{disease.picture1Desc}}
                                                {% endif %}
                                            </div>
                                            <div class="about-disease">
                                                <div class="top">Objawy:</div>
                                                <div class="desc">
                                                    <p>{{disease.symptoms | raw}}</p>
                                                </div>
                                            </div>
                                            {% if disease.recommendation %}
                                                <div class="about-disease extend-content">
                                                    <div class="top">Zalecenia:</div>
                                                    <div class="desc">
                                                        <p>{{disease.recommendation | raw}}</p>
                                                    </div>
                                                </div>
                                            {% endif %}    
                                            {% if disease.comments %}
                                                <div class="about-disease extend-content">
                                                    <div class="comments clearfix">
                                                        <div class="desc">
                                                            <b>Uwaga!</b><br/> 
                                                            <p>{{disease.comments | raw}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if disease.recommendation %}
                                                <div class="unwrap-button button-ext">
                                                    <span class="normal">Sprawdź zalecenia <i class="fa fa-chevron-down"></i></span>
                                                    <span class="extend-content">Zwiń zalecenia <i class="fa fa-chevron-up"></i></span>
                                                </div>
                                            {% endif %}    
                                            {#<div class="about-disease">
                                                <div class="button-ext">
                                                    <span class="normal">Sprawdź zalecenia <i class="fa fa-chevron-down"></i></span>
                                                    <span class="extend-content">Zwiń zalecenia <i class="fa fa-chevron-up"></i></span>
                                                </div>
                                            </div>#}
                                        </div>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Advertice -->
    {{ render(controller('AppBundle:Common:advertice')) }}
    <!--Advertice end-->
    <!--Helpfull informations -->
    {{ include('AppBundle:common:_helpfullInformations.html.twig', {'show':{'disise':0, 'exam':1, 'medicine':1, 'info':0}}) }}
    <!--Helpfull informations end-->
{% endblock %}
